<div class="title">VISCA APP</div>
<div class="control-panel">
  <div class="control-panel-col">

    <div class="panel-line">
      <div class="input-box">SPEED</div>
      <div class="input-box">
        <input [(ngModel)]="speed" max="100" min="1" type="number" name="speed" class="input-box-in">
        <div class="input-box-desc">%</div>
      </div>
    </div>
    <div class="panel-line">
      <div class="input-box">ADDRES</div>
      <select class="addes-select" [(ngModel)]="address">
        <option class="addes-select-option" selected value="1">1</option>
        <option selected value="2">2</option>
        <option selected value="3">3</option>
        <option selected value="4">4</option>
        <option selected value="5">5</option>
        <option selected value="6">6</option>
        <option selected value="7">7</option>
        <option selected value="8">8</option>
        <option selected value="9">9</option>
      </select>
    </div>
  </div>


  <div class="control-panel-col">

    <div class="panel-line">
      <button class="btn panel-btn" (click)="addUpCommand()">UP</button>
    </div>

    <div class="panel-line">
      <button class="btn panel-btn">LEFT</button>
      <button class="btn panel-btn">RESET</button>
      <button class="btn panel-btn">RIGT</button>
    </div>
    <div class="panel-line">
      <button class="btn panel-btn">DOWN</button>
    </div>

    <div class="panel-line">

      <button class="btn panel-btn">WAIT</button>
      <div class="input-box">
        <input type="number" class="input-box-in" max="10" min="1" [(ngModel)]="time">
        <div class="input-box-desc">s</div>
      </div>
    </div>
  </div>

</div>

<div class="panel-line title">Commands to send</div>

<div class="commands">

  <div class="commands-list">
    <div class="list-title">Current Config</div>
    <div *ngFor="let commad of macroService.currentMacroConfig" class="command">{{commad.command}} | {{commad.speed}}%  </div>
    <div class="send-execute-bar">
      <button class="btn panel-btn" (click)="macroService.executeMacro()">Execute</button>
      <button class="btn panel-btn">Save</button>
    </div>

  </div>

  <div class="macro-list">
    <div class="list-title">Macros</div>
  </div>

</div>
